@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Oswald:wght@700&family=Poppins:ital,wght@0,100;0,200;1,100&display=swap");
.footer {
  background-color: rgb(9, 7, 43);
  text-align: center;
}

.pieDePagina {
  width: 100%;
  background-color: rgb(13, 17, 57);
}

.pieDePagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
.pieDePagina .grupo-1 .pieDePagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pieDePagina .grupo-1 .pieDePagina .grupo-1 .box figure .pieDePagina .grupo-1 .box figure img {
  width: 250px;
}

.pieDePagina .grupo-1 .box h2 {
  color: white;
  margin-bottom: 25px;
  font-size: 20px;
}

.pieDePagina .grupo-1 .box p {
  color: white;
  margin-bottom: 10px;
}

.pieDePagina .grupo-1 .redSocial i {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin: 10px;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}
.pieDePagina .grupo-1 .redSocial i .pieDePagina .grupo-1 .redSocial a:hover {
  color: #edc226;
}

.pieDePagina .grupo-2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: white;
}
.pieDePagina .grupo-2 .pieDePagina .grupo-2 h5 {
  font-size: 15px;
}

@media screen and (max-width: 800px) {
  .pieDePagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}
.navbar {
  font-size: 20px;
  display: flex;
  background-color: black;
  justify-content: space-between;
  align-items: center;
}
.navbar .ul {
  margin: 10px;
  list-style: none;
  padding: 10px;
}
.navbar .ul .li {
  display: inline-block;
  color: white;
  flex-direction: inherit;
  font-family: IBM Plex Serif;
}

.profesor img {
  overflow: hidden;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}

.hover {
  width: 0%;
  height: 50vh;
  background-color: 56, 53, 53, 0.568;
  position: absolute;
  overflow: hidden;
}

.hover h3 {
  color: aliceblue;
  text-shadow: 1px 1px 1px black;
  font-size: 2.5em;
  text-transform: uppercase;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: rgb(255, 255, 255);
  text-align: left;
  font: size 48px;
  padding: 20px 0px 0px 50px;
}

.FondoTitulo {
  background-color: rgb(14, 11, 7);
}

.TituloCartelera {
  background-color: #ffffff;
  text-align: center;
}

.SubtituloImg {
  margin-top: 100px;
}

.Contenedor {
  display: flex;
}

.Tarjeta {
  margin: 10px;
  width: px;
  padding-bottom: 10px;
  text-align: center;
}

.Tarjeta__img {
  margin: 10px;
  padding: 10px;
  width: 200px;
  height: 200px;
}

.Tarjeta__btn {
  padding: 5px;
}

.Tarjeta__vid {
  width: 200px;
  height: 200px;
  margin: 10px;
  padding: 10px;
}

.Contenedor {
  display: grid;
  grid-template-columns: auto;
}

.SubtituloIn {
  background-image: url(../img/Escenoagrafia.index.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}

.caja {
  width: 100px;
  height: 100px;
  background-color: #F29B72;
  display: flex;
}

.cajas {
  background-color: #F29B72;
  margin: 10px;
}

.SubtituloIn__h2 {
  font-weight: 300;
  font-size: 30px;
  text-align: center;
  font-family: Oswald;
  padding-top: 210px;
  color: azure;
}

.caja {
  height: 100px;
  width: 100px;
  background-color: #1F7AF0;
}

.SubtituloIn__p {
  color: azure;
  text-align: center;
}

.h3 {
  font-size: x-large;
  padding-top: 100px;
  text-align: center;
  color: azure;
  font-family: Oswald;
}

.p {
  color: azure;
  text-align: center;
  padding-top: 50px;
}

.btn {
  background-color: #edc226;
  color: rgb(0, 0, 0);
  padding: 15px;
  transition: all 1s;
}

.btn:hover {
  transform: scale(1.2);
}

.fondoindex {
  background-image: url(../img/Escenaografia.Index2.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fondoindex2 {
  background-image: url(../img/Escenografia.Index3.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fondoindex3 {
  background-image: url(../img/Escenografia.Index4.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#p {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.MainContacto {
  background-image: url(../img/Fondo.Inscripcion.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.Formulario {
  display: flex;
  font-size: 20px;
  left: 100px;
}

.bloques {
  width: 450px;
  margin: auto;
  background-color: #EDC435;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 65px;
  border-radius: 15px;
}

.bloque {
  padding: 5px;
  margin: 10px;
  border-radius: 50px;
}

.margen {
  width: 100%;
  height: 300px;
  background-color: beige;
}

.padre {
  background-color: black;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "nav nav nav nav" "header header header header " "main aside section section2 " "section3 section4 section5 section6" "footer footer footer footer ";
}

.NavBar {
  grid-area: nav;
}

.encabezado {
  grid-area: header;
  align-content: center;
  text-align: center;
  background-color: black;
}

.profesor {
  grid-area: main;
}

.profesor2 {
  grid-area: aside;
}

.profesor3 {
  grid-area: section;
}

.profesor4 {
  grid-area: section2;
}

.profesor5 {
  grid-area: section3;
}

.profesor6 {
  grid-area: section4;
}

.profesor7 {
  grid-area: section5;
}

.profesor8 {
  grid-area: section6;
}

.footer {
  grid-area: footer;
}

.tarjetaProfe {
  display: flex;
}

.tarjetaProfe p {
  text-align: center;
  background-color: #1F7AF0;
  width: 25%;
  padding: 10px;
  margin: 50px;
}

.tarjetaProfe img {
  width: 25%;
  margin: 50px;
}

.maps {
  flex-flow: column wrap;
  background-color: black;
}
.maps .map {
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  border: 5px solid #edc226;
  height: 100%;
  align-items: center;
  margin: 20px;
}
.maps .map .maph2 {
  color: #edc226;
}/*# sourceMappingURL=style.css.map */